<!DOCTYPE html>
<html lang="en">
  <%= render 'head' %>
<body>
  <%= render 'dashboard-navbar' %>
  <%= render 'flashes' %>
  <%= yield %>
  <%= render 'javascript' %>
  <%= render 'css_overrides' %>
</body>
</html>
